.wp {
    border: 6px solid rgb(0, 0, 0);
    width: 800px;
    height: 800px;
}

.box {
    background: green;    
}

.box.size{
    width: 100px;
    height: 100px;
}

.question {
    margin-top: 10px;
}

.left-dot {
    position: absolute;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
   
  }

  .top-dot {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
   
  }
  
