<html>

<head>
  <!-- IverilogDemo -->
  <title> Hello </title>
  <script src="https://static.nowcoder.com/ajax/libs/vue/2.6.9/vue.min.js"></script>
</head>
<style>
  /* 在此处补充代码 */
  #example {
    width: 500px;
  }

  .box {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .image {
    /* height: 100px;
    width: 50px; */
    margin: 10px;
  }

  .lazy {
    width: 200px;
    max-width: 200px;
    height: auto;
    /* display: block; */
    margin-bottom: 20px;
  }
  .loading{
    width: 200px;
    max-width: 200px;
    height: auto;
    /* display: block; */
    margin-bottom: 20px;
  }
</style>

<body>
  <div id="example">
    <div class="box" v-scroll="loadMoreImages">
      <!-- 在此处补充代码 -->
      <!-- <div class="image" v-for="item in content" :key="item.num">
        <img class="lazy" :src="item.defaultUrl" :data-src="item.src">
      </div> -->

      <div class="image" v-for="item in content" :key="item.num">
        <img class="lazy" :src="item.src" :data-src="item.src" :data-loading="defaultUrl" @load="imageLoaded">
        <img class="loading" :src="defaultUrl" v-if="isLoading">
      </div>
    </div>
    <script>
      // 在此处补充代码
      var vm = new Vue({
        el: '#example',
        data: {
          content: [{ src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img1.jpg', num: '45002' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img2.jpg', num: '368724' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img3.jpg', num: '96487' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img4.jpg', num: '86944' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img5.jpg', num: '43761' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img6.jpg', num: '64937' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img7.jpg', num: '34978' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img8.jpg', num: '64913' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img9.jpg', num: '42567' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img10.jpg', num: '4697' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img11.jpg', num: '64874' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img12.jpg', num: '36972' },
          { src: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/img13.jpg', num: '67355' },],
          defaultUrl: 'https://static.nowcoder.com/ajax/img/vue-Lazyloading/img/loading.jpg',
          isLoading: false, // 控制加载中状态
        },
        created() {

        },
        mounted() {
          // 创建实例
          const observer = new IntersectionObserver(this.throttle(this.handleIntersection, 1000), {
            root: null,
            rootMargin: '0px',
            threshold: 0.1,
          })
          // 图片懒加载的元素
          const lazyImages = document.querySelectorAll('.lazy');
          console.log(lazyImages, 'lazyImages');
          lazyImages.forEach(image => {
            observer.observe(image);
          })
        },
        methods: {
          loadMoreImages() {
            // 当用户滚动到页面底部时加载更多图片
            if (this.isLoading) {
              return; // 防止多次触发加载
            }

            const lazyImages = document.querySelectorAll('.lazy');
            const lastLazyImage = lazyImages[lazyImages.length - 1];
            if (lastLazyImage) {
              const rect = lastLazyImage.getBoundingClientRect();
              if (rect.bottom <= window.innerHeight) {
                // 用户已滚动到页面底部
                this.isLoading = true; // 设置加载中状态
                this.loadNextBatchOfImages();
              }
            }
          },

          loadNextBatchOfImages() {
            // 在这里加载更多图片的数据并添加到content数组中
            // 模拟加载更多图片
            const newImages = [
              // { src: '新图片1的URL', num: '新图片1的编号' },
              // { src: '新图片2的URL', num: '新图片2的编号' },
              // 添加更多新图片...
            ];

            // 将新图片添加到content数组中
            this.content = this.content.concat(newImages);
            // 设置加载完成后的状态
            this.isLoading = false;
          },
          imageLoaded(event) {
            console.log(event,'event');
            // 图片加载完成时触发
            const img = event.target;
            const loadingUrl = img.getAttribute('data-loading');
            console.log(img.parentElement.querySelector('.loading'),'img.parentElement.querySelector()');
            // img.parentElement.querySelector('.loading').style.display = 'none';
          },
          handleIntersection: function (enteries) {
            enteries.forEach(entry => {
              if (entry.isIntersecting) {
                const lazyImage = entry.target;
                lazyImage.src = lazyImage.dataset.src;
                lazyImage.classList.remove('.lazy');
              }
            })

          },
          // 节流函数
          throttle: function (func, time) {
            let timer;
            return function (...args) {
              if (!timer) {
                timer = setTimeout(() => {
                  func.apply(this, args);
                  timer = null;
                }, time)
              }
            }

          }
        }
      })
    </script>
</body>

</html>